<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>201_forms_demo1</title>
</head>
<body>
    <h2>201_forms_demo1</h2>
    <p>
        _____# 0131 notes: practice form on JS for html <br>-----------------------------<br>
        DATABASES = { <br>
        | .. 'default': { <br>
        | ...... 'ENGINE': 'django.db.backends.mysql', <br>
        | ...... 'NAME': 'solar201', <br>
        | ...... 'USER': 'adminsolar', <br>
        | ...... 'HOST': '127.0.0.1', <br>
        | ...... 'PASSWORD': '$$p@Ls44', <br>
        | ...... 'PORT': '3306' <br>
        | ...... } <br>
        } <br>
}        <br><br>
        ____# 0201 mysql cmds notes <br>----------------------<br>
        show tables; <br>
        <br>
        describe b_app201_solar; <br>
        <br>
    </p>
    <p>
        _____#201 add the current date in a p tag html <br>------------------------<br>
        < p id="date">< /p> <br>
        < script> <br>
        | .. var date = new Date(); <br>
        | .. var year = date.getFullYear(); <br>
        | .. var month = date.getMonth() + 1; <br>
        | .. var day = date.getDate(); <br>
        | .. document.getElementById("date").innerHTML =  <br>
        < /script> <br>


        <br><br>
    </p>

</body>
</html>